<% if current_user %>
  <% if current_user.id == @user %>
    <h1>Your Dashboard</h1>
  <% else %>
    <h1><%= "#{@user.first_name} #{@user.last_name}'s Dashboard" %></h1>
  <% end %>
<% else %>
  <h1><%= "#{@user.first_name} #{@user.last_name}'s Dashboard" %></h1>
<% end %>
<div class="cards-container">
  <% @vehicles.each do |vehicle| %>
    <div class="card-vehicle">
      <img src="https://static.eldiario.es/clip/0e99a115-5db8-4530-bdd3-e992a8f8cd97_16-9-discover-aspect-ratio_default_0.jpg" />
        <div class="card-vehicle-infos">
          <div>
            <h2><%= link_to vehicle.name, vehicle_path(vehicle) %></h2>
            <p><%= vehicle.category %></p>
            <p><%= vehicle.description %></p>
          </div>
          <h2 class="card-vehicle-pricing"><%= vehicle.price %></h2>
          <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-vehicle-user avatar-bordered" />
        </div>
        <%= "User: #{vehicle.user.id} - #{vehicle.user.first_name} #{vehicle.user.last_name}" %>
    </div>
  <% end %>
</div>


<% if (current_user)  && (current_user.id == @user) %>
  <% unless @in_bookings.empty? %>
    <h1>Incoming booking requests</h1>
    <table class="table">
      <tr>
        <th> From User </th>
        <th> Vehicle </th>
        <th> Booking from </th>
        <th> Booking to </th>
        <th> Accept </th>
        <th> Reject </th>
      </tr>
      <% @in_bookings.each do |booking| %>
      <tr>
        <td><%= "#{booking.user.first_name} #{booking.user.last_name}" %></td>
        <td><%= booking.vehicle.name %></td>
        <td><%= booking.booking_from %></td>
        <td><%= booking.booking_to %></td>
        <td><%= link_to "Accept booking", "#", class:'btn btn-primary btn-sm' %></td>
        <td><%= link_to "Reject booking", "#", class:'btn btn-danger btn-sm' %></td>
      </tr>
      <% end %>
    </table>
    <% else %>
    <h1>You have no bookings for your vehicle(s)</h1>
  <% end %>

  <% unless @out_bookings.empty? %>

    <h1>Outgoing booking requests</h1>
      <table class="table">
        <tr>
          <th> To User </th>
          <th> Vehicle </th>
          <th> Booking from </th>
          <th> Booking to </th>
          <th> Status </th>
        </tr>
        <% @out_bookings.each do |booking| %>
        <tr>
          <td><%= "#{booking.vehicle.user.first_name} #{booking.vehicle.user.last_name}" %></td>
          <td><%= booking.vehicle.name %></td>
          <td><%= booking.booking_from %></td>
          <td><%= booking.booking_to %></td>
          <td><%= booking.status %></td>
        </tr>
        <% end %>
      </table>
      <% else %>
      <h1>You have no active bookings</h1>
    <% end %>

<% end %>

<%= link_to "Back to Overview", vehicles_path, class: "btn btn-primary" %>
