<div class="container-dashboard">
  <% if current_user %>
    <% if current_user.id == @user.id %>
      <h1>Your Dashboard</h1>
    <% else %>
      <h1><%= "#{@user.first_name} #{@user.last_name}'s Dashboard" %></h1>
    <% end %>
  <% else %>
    <h1><%= "#{@user.first_name} #{@user.last_name}'s Dashboard" %></h1>
  <% end %>

  <div class="content">
    <div class="cards">
      <% @vehicles.each do |vehicle| %>
        <div class="card-vehicle">
          <% if vehicle.photos.any? %>
            <%= cl_image_tag(vehicle.photos.first.key,
            width: 400, height: 300, crop: :fill) %>
          <% else %>
            <img class="vehicle-image" src="http://t1.gstatic.com/licensed-image?q=tbn:ANd9GcRisOP5rFA5ldi7r3Bo1P53q9VfNZ6ligXR17S3z4vPodIvdJn2HWAM1BkU7knn8XEwY8tAtFM5kYlaKQA_M4I" alt="vehicle picture">
          <% end %>
          <div class="card-vehicle-infos">
            <h2><%= link_to vehicle.name, vehicle_path(vehicle) %></h2>
            <div class="card-vehicle-details">
              <p><%= vehicle.description %></p>
              <h2 class="card-vehicle-pricing"><%= vehicle.price %> € per day</h2>
            </div>
            <div class="card-vehicle-details">
              <p class="category"><%= vehicle.category %></p>
              <div>
                <%= link_to edit_vehicle_path(vehicle) do %>
                  <i class="fa-solid fa-pen-to-square"></i>
                <% end %>
                <%= link_to vehicle_path(vehicle), method: :delete, data: {confirm: "Are you sure?"} do %>
                  <i class="fa-solid fa-trash-can"></i>
                <% end %>
              </div>
            </div>
            <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-vehicle-user avatar-bordered" />
          </div>
        </div>
    <% end %>
  </div>
    <div id="map"
      style="width: 100%; height: 600px;"
      data-markers="<%= @markers.to_json %>"
      data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>
  </div>


  <% if (current_user)  && (current_user == @user) %>
    <% unless @in_bookings.empty? %>
      <h3>Incoming booking requests</h3>
      <table class="table">
        <tr>
          <th> From User </th>
          <th> Vehicle </th>
          <th> Booking from </th>
          <th> Booking to </th>
          <th> Accept </th>
          <th> Reject </th>
        </tr>
        <% @in_bookings.each do |booking| %>
        <tr>
          <td><%= "#{booking.user.first_name} #{booking.user.last_name}" %></td>
          <td><%= booking.vehicle.name %></td>
          <td><%= booking.booking_from %></td>
          <td><%= booking.booking_to %></td>
          <% if booking.status == "Pending" %>
            <td><%= link_to "Accept booking", accept_booking_path(booking), method: :put, class:'btn btn-primary btn-sm' %></td>
            <td><%= link_to "Reject booking", reject_booking_path(booking), method: :put, class:'btn btn-danger btn-sm' %></td>
          <% elsif booking.status == "Accepted" %>
            <td>✅</td>
            <td></td>
          <% else %>
            <td></td>
            <td>❌</td>
          <% end %>
        </tr>
        <% end %>
      </table>
      <% else %>
      <h3>You have no bookings for your vehicle(s)</h3>
    <% end %>

    <% unless @out_bookings.empty? %>

      <h3>Outgoing booking requests</h3>
        <table class="table">
          <tr>
            <th> To User </th>
            <th> Vehicle </th>
            <th> Booking from </th>
            <th> Booking to </th>
            <th> Status </th>
          </tr>
          <% @out_bookings.each do |booking| %>
          <tr>
            <td><%= "#{booking.vehicle.user.first_name} #{booking.vehicle.user.last_name}" %></td>
            <td><%= booking.vehicle.name %></td>
            <td><%= booking.booking_from %></td>
            <td><%= booking.booking_to %></td>
            <td><%= booking.status %></td>
          </tr>
          <% end %>
        </table>
        <% else %>
        <h3>You have no active bookings</h3>
      <% end %>

  <% end %>

  <%= link_to "Back to Overview", vehicles_path, class: "btn-ghost" %>

</div>
