<h1>All vehicles</h1>
<div class="cards-container">
  <% @vehicles.each do |vehicle| %>
    <div class="card-vehicle">
    <% if vehicle.photo.attached? %>
    <%= cl_image_tag vehicle.photo.key, height: 200, width: 200, crop: :fill %>
    <% else %>
    <img src="https://static.eldiario.es/clip/0e99a115-5db8-4530-bdd3-e992a8f8cd97_16-9-discover-aspect-ratio_default_0.jpg" />
    <% end %>
        <div class="card-vehicle-infos">
          <div>
            <h2><%= link_to vehicle.name, vehicle_path(vehicle) %></h2>
            <p><%= vehicle.category %></p>
            <p><%= vehicle.description %></p>
          </div>
          <h2 class="card-vehicle-pricing"><%= vehicle.price %></h2>
          <%= link_to profile_path(vehicle.user) do %>
            <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-vehicle-user avatar-bordered" />
          <% end %>
        </div>
    </div>
  <% end %>
</div>
