<div class="vehicle-container">
  <div class="vehicle-details-card">
    <h1><%= @vehicle.name %></h1>
    <div class="details-section">
      <p class="category"><%= @vehicle.category %></p>
      <p class="price"><%= @vehicle.price %> € per day</p>
    </div>
    <img class="vehicle-image" src="http://t1.gstatic.com/licensed-image?q=tbn:ANd9GcRisOP5rFA5ldi7r3Bo1P53q9VfNZ6ligXR17S3z4vPodIvdJn2HWAM1BkU7knn8XEwY8tAtFM5kYlaKQA_M4I" alt="vehicle picture">
    <h3>Details</h3>
    <p><%= @vehicle.description %></p>
  </div>
  <div class="booking-request">
    <%= link_to "Request a booking", new_vehicle_booking_path(@vehicle), class: "btn-ghost" %>
  </div>
</div>
